{% extends 'base.html.twig' %}


{% block contenu %}

<h1> Bienvenue sur ProStages </h1>

<p>
	Vous trouverez ci-dessous les stages proposés.
</p>
<ul>
	<li>
		<a> Développeur web </a>
	</li>
</ul>

{% endblock %}