{% extends 'base.html.twig' %}

{% block title %}
    ProStages - {{ nomFormation }}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/css/bootstrap.min.css">
{% endblock %}

{% block intitule %}
<center><h3>ProStages</h3></center>
{% endblock %}

{% block contenu %}
	<div class="col-12">
		<div class="panel panel-default">
			<div class="panel-heading"><h4>Liste des stages proposés pour {{ nomFormation }}</h4></div>
      <p class="card-text">
			<ul class="list-group">
				{% for stage in stages %}
					<li class="list-group-item">
						<a href="{{ path('prostages_stages', {'id':stage.id}) }}">{{stage.titre}}</a>
					</li>
				{% endfor %}
			</ul>
      </p>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
