<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>{% block title %}ProStages{% endblock %}</title>
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		{% endblock %}

		{% block menu %}
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <div class="container-fluid">
			<a class="navbar-brand" href="#">ProStages</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
				  <a class="nav-link" href="/">Accueil</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/formations">Formations</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/entreprises">Entreprises</a>
				</li>
			  </ul>
			</div>
		  </div>
		</nav>
		{% endblock %}


    </head>
    <body>

		{% block contenu %}
    <div class="row" >
	  <div class="col-md-12">
		<div class="card">


			{% block contenuPage %}
			<div class="card-group">
			{% for stageCourant in stages %}
				{% if loop.index < 4 %}
					<div class="card" style="width: 18rem;">
  						<img src="{{asset('/images/image3.jpg')}}" class="card-img-top" alt="...">
 						<div class="card-body">
    						<h5 class="card-title">{{stageCourant.titre}}</h5>
    						<p class="card-text">{{stageCourant.description}}</p>
    						<a href="{{path('stages',{id:stageCourant.id})}}" class="btn btn-primary">Voir le stage</a>
  						</div>
					</div>
				{% endif %}
			{% endfor %}
			</div>

			{% endblock %}
		</div>
	</div>
</div>
		{% endblock %}

		{% block javascript %}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
		{% endblock %}
    </body>
	<footer>
		{% block footer %}
		<p> @2020 Miguel Viegas </p>
		<a href="https://github.com/sohny64/ProStage"> https://github.com/sohny64/ProStage </a>
		{% endblock %}
	</footer>
</html>
